$red     : #E8B2A9;
$blue    : #B7D9E3;
$green   : #9FBF9B;
$tan     : #E1DCCC;
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
$primary-font : "Open Sans Condensed", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;

body {
  font-family: 'Open Sans Condensed', sans-serif;
  max-width: 500px;
  margin: 0 auto;
  padding: 5px;
}

.seat, label {
  width:  75px;
  height: 75px;
  margin: 3px;
  float:  left;
  overflow: hidden;

  font: 21pt $primary-font;
  font-weight: 100;
  text-align: center;
}
.seat, label {
  p {
    height: 75px;
    background-color: $tan;
    transition: all 0.3s ease;
  }
  p:first-child {
    padding-top: 18px;
    margin: 0;
  }
  p:nth-child(2) {
    background-color: darken($tan, 10%);
  }
  &:hover p {
    margin-top: -28px;
    cursor: pointer;
  }
}

.seat {
  display: none;
}

.seat:checked + label {
  p {
    &:first-child {
      background-color: $blue;
    }
    &:nth-child(2) {
      background-color: darken($blue, 10%);
    }
  }
}
.seat:disabled + label {
  p {
    &:first-child {
      background-color: $red;
    }
    &:nth-child(2) {
      background-color: darken($red, 10%);
    }
  }
}